/vendor
/node_modules
/public/storage
/public/head
/ssl
/public/uploads
/public/.well-known
/public/building
/storage
/public/social
/public/register_des-en.php
/public/register_des.php
/public/phpmyadmin
/public/html.php
/public/forum.php
/public/forum-en.php
Homestead.yaml
/public/googled073fa04417c1269.html
Homestead.json
.env
.env.example
